.stick-footer{
    min-height: calc(100vh - 62px - 50px);
}

body {
    background-image: url("Assets/Images/ignasi_pattern_s.png");
  }

main {
    padding-top: 5vw;
    overflow: auto;
    padding-bottom: 100px;
}