.stick-footer{
    min-height: calc(100vh - 56px - 56px);
}

body {
    background-image: url("Assets/Images/ignasi_pattern_s.png");
  }

main {
    padding-top: 5vw;
    overflow: auto;
    padding-bottom: 100px;
}

.submit-button{
    width: 50%;
}

#underline{
    width: 75%; 
    align-content: center;
    /* margin-left:0 */
}
